.env
.envback
__pycache__/

/CalculateTripCost/node_modules
/CalculateTripCost/.pnp
/CalculateTripCost/.pnp.js
/CalculateTripCost/.next

# testing
/CalculateTripCost/coverage

# production
/CalculateTripCost/build

# misc
/CalculateTripCost/.DS_Store
/CalculateTripCost/.env.local
/CalculateTripCost/.env.development.local
/CalculateTripCost/.env.test.local
/CalculateTripCost/.env.production.local

/CalculateTripCost/npm-debug.log*
/CalculateTripCost/yarn-debug.log*
/CalculateTripCost/yarn-error.log*
